In [73]:
import pandas as pd
import numpy as np

Cargar datos

In [74]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv('dataset_final.csv')

df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [75]:
df.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [76]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
f'En el dataset hay {len(df)} pokemons'

'En el dataset hay 800 pokemons'

In [77]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
poison = df[df['Type 1'] == 'Poison'].reset_index()

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
1,29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
2,34,29,Nidoran♀,Poison,NaN,275,55,47,52,40,40,41,1,False
3,35,30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,1,False
4,36,31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
5,37,32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
6,38,33,Nidorino,Poison,NaN,365,61,72,57,55,55,65,1,False
7,39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False
8,46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
9,47,42,Golbat,Poison,Flying,455,75,80,70,65,75,90,1,False
10,95,88,Grimer,Poison,NaN,325,80,80,50,40,50,25,1,False
11,96,89,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False
12,117,109,Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
13,118,110,Weezing,Poison,NaN,490,65,90,120,85,70,60,1,False
14,183,169,Crobat,Poison,Flying,535,85,90,80,70,80,130,2,False
15,345,316,Gulpin,Poison,NaN,302,70,43,53,43,53,40,3,False
16,346,317,Swalot,Poison,NaN,467,100,73,83,73,83,55,3,False
17,368,336,Seviper,Poison,NaN,458,73,100,60,100,60,65,3,False
18,482,434,Stunky,Poison,Dark,329,63,63,47,41,41,74,4,False
19,483,435,Skuntank,Poison,Dark,479,103,93,67,71,61,84,4,False
20,501,451,Skorupi,Poison,Bug,330,40,50,90,30,55,65,4,False
21,502,452,Drapion,Poison,Dark,500,70,90,110,60,75,95,4,False
22,503,453,Croagunk,Poison,Fighting,300,48,61,40,61,40,50,4,False
23,504,454,Toxicroak,Poison,Fighting,490,83,106,65,86,65,85,4,False
24,629,568,Trubbish,Poison,NaN,329,50,50,62,40,62,65,5,False
25,630,569,Garbodor,Poison,NaN,474,80,95,82,60,82,75,5,False
26,760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
27,761,691,Dragalge,Poison,Dragon,494,65,75,90,97,123,44,6,False

In [239]:
f'En el dataset hay {len(poison)} tipo Poison'

'En el dataset hay 28 tipo Poison'

In [248]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
len(df.groupby('Type 1').mean())

18

In [250]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
df.groupby('Type 1')['Name'].count().reset_index()

      Type 1  Name
0        Bug    69
1       Dark    31
2     Dragon    32
3   Electric    44
4      Fairy    17
5   Fighting    27
6       Fire    52
7     Flying     4
8      Ghost    32
9      Grass    70
10    Ground    32
11       Ice    24
12    Normal    98
13    Poison    28
14   Psychic    57
15      Rock    44
16     Steel    27
17     Water   112

In [81]:
'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''

'\n2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)\n'

In [264]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
df.sort_values('Speed', ascending = False).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble Tipo
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True,False

In [259]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
defense_mayor_100 = df['Defense'] > 100
f'Tiene una defensa mayor a 100: {len(df[defense_mayor_100])} pokemons'

'Tiene una defensa mayor a 100: 123 pokemons'

In [265]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
df100 = df[defense_mayor_100].reset_index()
velocidad_y_defense_mas_100 = df100[df100['Speed'] > 100]
f'Tiene una defensa y velocidad mayor a 100: {len(velocidad_y_defense_mas_100)} pokemons'

'Tiene una defensa y velocidad mayor a 100: 9 pokemons'

In [85]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(['Type 1', 'Type 2']).head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
698,637,Volcarona,Bug,Fire,550,85,60,65,135,105,100,5,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
132,123,Scyther,Bug,Flying,500,70,110,80,55,80,105,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
179,165,Ledyba,Bug,Flying,265,40,20,30,40,80,55,2,False
180,166,Ledian,Bug,Flying,390,55,35,50,55,110,85,2,False
208,193,Yanma,Bug,Flying,390,65,65,45,75,45,95,2,False
290,267,Beautifly,Bug,Flying,395,60,70,50,100,50,65,3,False
308,284,Masquerain,Bug,Flying,414,70,60,62,80,82,60,3,False
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
461,414,Mothim,Bug,Flying,424,70,94,50,94,50,66,4,False
462,415,Combee,Bug,Flying,244,30,30,42,30,42,70,4,False
463,416,Vespiquen,Bug,Flying,474,70,80,102,80,102,40,4,False
520,469,Yanmega,Bug,Flying,515,86,76,86,116,56,95,4,False
734,666,Vivillon,Bug,Flying,411,80,52,50,90,50,89,6,False

In [86]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
water_and_fire = df[(df['Type 1'] == 'Water') | (df['Type 1'] == 'Fire')].reset_index()
water_and_fire

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
1,5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
2,6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
3,7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
4,8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
160,736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
161,762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
162,763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
163,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [87]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
legendary = df[df['Legendary'] == True].reset_index()
legendary

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
4,163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
61,796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
62,797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
63,798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
64,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [88]:
no_legendary = df[df['Legendary'] == False].reset_index()
no_legendary

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
731,788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
732,789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
733,790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
734,791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [89]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
average_legendary = round((legendary.iloc[:,5:11].sum()) / len(legendary), 1)
average_legendary

Total      637.4
HP          92.7
Attack     116.7
Defense     99.7
Sp. Atk    122.2
Sp. Def    105.9
dtype: float64

In [90]:
average_no_legendary = round((no_legendary.iloc[:,5:11].sum()) / len(no_legendary), 1)
average_no_legendary

Total      417.2
HP          67.2
Attack      75.7
Defense     71.6
Sp. Atk     68.5
Sp. Def     68.9
dtype: float64

In [91]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
avarage_stats = pd.DataFrame([average_legendary, average_no_legendary], index=['Legendary', 'No Legendary'])
avarage_stats

              Total    HP  Attack  Defense  Sp. Atk  Sp. Def
Legendary     637.4  92.7   116.7     99.7    122.2    105.9
No Legendary  417.2  67.2    75.7     71.6     68.5     68.9

In [92]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que indique si el pokemon tiene dos tipos o no
'''
df['Doble Tipo'] = True
df.loc[(pd.isna(df['Type 1'])) | (pd.isna(df['Type 2'])), 'Doble Tipo'] = False
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble Tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

In [93]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
df[['Name', 'Type 1', 'Type 2']][df['Doble Tipo'] == True].sort_values(['Type 1', 'Type 2', 'Name'])

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [94]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

In [95]:
# A. Una función que calcule el precio total de la compra

calculo_total = lambda a,b : reduce(lambda acum, producto: acum + b[producto], a, 0)

calculo_total(compra, articulos)

155

In [104]:
# B. Una función que calcule el precio total de la compra con un descuento del 10%

descuento = lambda x,i: x - (x*i/100)

total_mas_descuento_10 = lambda a,b,c : descuento(calculo_total(a,b), c)

total_mas_descuento_10(compra, articulos, 10)

139.5

In [101]:
# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
descuento_mas_100 = lambda x: descuento_10(x) if x > 100  else x

total_mas_descuento_100 = lambda a,b : descuento_mas_100(calculo_total(a,b))

total_mas_descuento_100(compra, articulos)

139.5

In [105]:
# D. Una función que calcule el precio total aplicando el IVA (21%)

iva = lambda x,i: x + (x*i/100)

total_con_iva = lambda a,b,c : iva(calculo_total(a,b), c)

total_con_iva(compra, articulos, 21)

187.55

In [134]:
# E. Lista los artículos cuyo precio es superior a 20€

list(filter(lambda x: articulos[x] > 20, articulos))

['Pantalón', 'Zapatos', 'Gafas', 'Reloj', 'Corbata']

In [229]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9])
            ]

In [230]:
filtrar_curso = lambda numero_curso, lista_alumnos : list(filter(lambda x: x[2] == numero_curso , lista_alumnos))

In [231]:
promedio = lambda lista_notas: reduce(lambda a,b : a+b, lista_notas, 0) / len(lista_notas)

In [232]:
visualizar = lambda lista_alumnos: list(map(lambda x : f'Nombre: {x[0]} | Apellido: {x[1]} | Promedio: {promedio(x[3])}', lista_alumnos))

In [233]:
promedios_curso = lambda numero_curso, lista_alumnos : visualizar(filtrar_curso(numero_curso, lista_alumnos))